body{
    background-image: url(../starter-code/assets/destination/background-destination-desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto 0;
    height: 100vh;
}
.header{
    display: flex;
    justify-content: space-around;
}
.navigation ul{
    display: flex;  

}   
.navigation li{
    list-style: none;
    justify-content: space-around;
    padding: 20px;

}
.nav-links a{
    text-decoration: none;
    color: white;
}
.header h1{
    color: white;
}
@media (max-width:500px){
    .header{
        display: block;
        text-align: center;
    }
}
